/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.fileUpload section {
    border: 1px dotted black;
    background-color: lightgrey;
    text-align: center;
    width: 350px;
    height: 50px;
}

.fileUpload button {
    margin-top: 5px;
    width: 350px;
}

.header img {
    width: 300px;
}